h1 {
    margin-left: 3%;
    font-size: 75px;
    line-height: 1px;
    font-weight: 500;
    margin-bottom: 60px;
}

h3 {
    margin-left: 3%;
    font-size: 30px;
    line-height: 1px;
    font-weight: 300;
    margin-bottom: 30px;
}