.title {
    border-bottom: 2px solid black;
    width: 95%;
    margin: 0 auto;
}

.description {
    margin-top: 1px;
    margin-left: 3%;
}

.description p {
    font-size: 20px;
}

.home-content-container {
    position: absolute; 
    bottom: 0; 
    left: 0;
    width: 100%;
    padding: 20px; 
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
    align-items: flex-start; 
    min-height: 30vh; 
}

h1 {
    margin-left: 0;
    font-size: 200px;
    line-height: 1px;
    font-weight: 500;
}

h2 {
    margin-left: 3%;
    font-size: 50px;
    line-height: 1px;
    font-weight: 30;
}
