<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about_styles.css') }}">
</head>
<body>
    <nav class="nav-links">
        <ul>
            <li><a href="/">/</a></li>
            <li><a href="/about">ABOUT</a></li>
            <li><a href="/passthrough">DEMO</a></li>
        </ul>
    </nav>
    <main class="about-content">
        <header class="page-title">
            <h1>a new way to watch.</h1>
            <h3>powered by facial recognition</h3>
            <section class="tag-container">
                <span class="tag">computer vision</span>
                <span class="tag">vector databases</span>
            </section>
        </header>
        <div class="content-box">
            <div class="article-container">
                <div class="image-container">
                    <img src="../static/images/xray_example.png" alt="image">
                </div>
                <div class="paragraph-container">
                    <p>
                        powered by facial recognition, passthrough facilitates the retrieval and service or person-specific
                        metadata within your video content. 
        
                        passthrough can help viewers enjoy an enhanced viewing experience by providing them with actor/actress names, 
                        bios, trivia, and more! 
        
                        inspired by Prime Video's X-Ray service, passthrough aims to provide comparable data using open source technologies.
                    </p>
                </div>
            </div>
            <div class="article-container">
                <div class="paragraph-container">
                    <p>
                        at a specified frame rate, passthrough extracts frames and uses a 
                        multi-task cascaded convolutional neural network (MTCCN) to search for faces. 
                        
                        in the provided image, two faces were detected by the MTCNN model, each accompanied by bounding box 
                        coordinates and a confidence score.

                        identified faces are embedded using FaceNet and will eventually be used as query 
                        parameters.
                        
                    </p>
                </div>
                <div class="image-container">
                    <img src="../static/images/annotated_image.png" alt="image">
                </div>
            </div>
            <div class="article-container">
                <div class="image-container">
                    <!-- <img src="../static/images/query_example.png" alt="image"> -->
                    <img src="../static/images/json_response.png" alt="image">
                </div>
                <div class="paragraph-container">
                    <p>
                        for each embedded face, a query is sent to a database of known faces. 
                        
                        the query compares the provided embeddings with its stored facial embeddings using the 
                        cosine similarity metric and returns the top 3 results along with any associated metadata.

                        passthrough's vector search is suppored by PostgreSQL's pgvector extension.                     
                    </p>
                </div>
            </div>
        </div>
    </main>
    <script src="{{ url_for('static', filename='js/track_active_link.js') }}"></script>
</body>
</html>
