<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home_style.css') }}">
</head>
<body>
    <nav class="nav-links">
        <ul>
            <li><a href="/">/</a></li>
            <li><a href="/about">ABOUT</a></li>
            <li><a href="/passthrough">DEMO</a></li>
        </ul>
    </nav>
    <main class="home-content">
        <header class="main-title">
            <h1>passthrough.</h1>
            <hr>
            <h2>a new way to watch</h2>
        </header>
        <section class="description">
            <span class="tag">hack-day</span>
            <span class="tag">spring-2024</span>
        </section>
    </main>
    <script src="{{ url_for('static', filename='js/track_active_link.js') }}"></script>
</body>
</html>

