<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home_style.css') }}">
</head>
<body>
    <div class="link-container">
        <p><a href="/">/</a></p>
        <p><a href="/about">ABOUT</a></p>
        <p><a href="/passthrough">DEMO</a></p>
    </div>
    <div class="home-content-container">
        <div class="title">
            <h1>passthrough</h1>
        </div>
        <h2>a new way to watch.</h2>
        <div class="description">
            <span class="tag">hack-day</span>
            <span class="tag">spring-2024</span>
        </div>
    </div>
</body>
</html>

