<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/passthrough_styles.css') }}">
</head>
<body>
    <nav class="nav-links">
        <ul>
            <li><a href="/">/</a></li>
            <li><a href="/about">ABOUT</a></li>
            <li><a href="/passthrough">DEMO</a></li>
        </ul>
    </nav>
    <main class="page-content">
        <header class="page-title">
            <h1>passthrough at work.</h1>
            <h3>grantchester</h3>
            <section class="tag-container">
                <span class="tag">season 1</span>
                <span class="tag">masterpiece mysteries</span>
            </section>
        </header>
        <section class="passthrough-content">
            <div class="video-image-container">
                <video id="videoPlayer" controls>
                    <source src="{{ url_for('demo.demo') }}" type="video/mp4">
                </video>
                <div class="canvas-container">
                    <canvas id="frameCapture"> </canvas>
                </div>
            </div>
            <div class="code-container">
                <pre><code id="queryResult">Query results pending ... </code></pre>
            </div>
        </section>
    </main>
    <p id="frameNumber">frame number: </p>
    <script src="{{ url_for('static', filename='js/process_video.js') }}"></script>
    <script src="{{ url_for('static', filename='js/track_active_link.js') }}"></script>
</body>
</html>
