<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PBS Passthrough</title>
    <style>
        .video-container {
            display: flex;
            flex-direction: column;
            align-items: right;
        }
        #videoPlayer {
            width: 640px; 
            height: auto; 
        }
        h1 {
            margin-right: auto;
        }
        pre {
            background-color: #f4f4f4;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 4px;
            max-width: 640px;
            overflow-x: auto;
        }
        #frameCapture {
            display: none;
        }
        #capturedFrame {
            width: 640px; 
            height: auto; 
            margin-top: 20px;
            border: 1px solid #ddd;
            border-radius: 4px;
        }
    </style>
</head>
<body>
    <div class="video-container">
        <h1>Now Playing: {{ filename }} </h1>
        <video id="videoPlayer" width="640" height="360" controls>
            <source src="/videos/{{ filename }}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <p id="frameNumber">Frame Number: </p>
        <div class="frame-container">
            <canvas id="frameCapture" width="640" height="360"></canvas>
            <img id="capturedFrame" width="320" height="180" alt="Captured Frame">
        </div>
        <p id="codeLabel">Query Result</p>
        <pre><code id="queryResult"></code></pre>
    </div>
    <script>
        // access video element 
        const video = document.getElementById('videoPlayer');

        // select paragraph elements to fill in 
        const frameNumberParagraph = document.getElementById('frameNumber');
        const queryResultParagraph = document.getElementById("queryResult");

        // access canvas and image elements 
        const canvas = document.getElementById("frameCapture");
        const capturedFrame = document.getElementById("capturedFrame");
        const ctx = canvas.getContext("2d");

        // track time to help calculate frame 
        video.addEventListener('timeupdate', function() {

            // calculate and display frame number
            const frameNumber = Math.floor(video.currentTime * video.playbackRate * 30);
            frameNumberParagraph.textContent = 'Frame Number: ' + frameNumber;

            // for every 50th frame ...
            if (frameNumber % 50 === 0) {

                // capture the frame and show it 
                ctx.drawImage(video, 0, 0, canvas.width, canvas.height);
                const dataURL = canvas.toDataURL();
                capturedFrame.src = dataURL;

                // send the frame to the facial-recognition endpoint for analysis 
                canvas.toBlob(function(blob) {

                    const formData = new FormData();
                    formData.append("image", blob, "frame.png");

                    // send image to server 
                    fetch("/facial-recognition", {
                        method: "POST", 
                        body: formData
                    })
                    .then(response => {
                        if (!response.ok) {
                            throw new Erorr("Network response not ok");
                        }
                        return response.json();
                    })
                    .then(data => {

                        // // update image with boxed image
                        const boxedImageBase64 = data.boxed_image;
                        const imageUrl = 'data:image/jpeg;base64,' + boxedImageBase64;
                        capturedFrame.src = imageUrl;
                        
                        // extract embeddings 
                        const embeddings = data.embeddings;

                        // print to console for now 
                        const formattedJson = JSON.stringify(data, null, 2);

                        // send request to query endoint using this data 
                        fetch("/query", {
                            method: "POST", 
                            headers: {
                                "Content-Type": "application/json"
                            }, 
                            body: JSON.stringify({ embeddings })
                        })
                        .then(response => response.json())
                        .then(data => {
                            const formattedJson = JSON.stringify(data, null, 2);
                            queryResultParagraph.textContent = formattedJson
                        })
                        .catch(error => {
                            console.error("Error querying database:", error);
                        })
                    })
                    .catch(error => {
                        console.error('Error Running Facial Recognition:', error);
                    });
                })
            }
        });
    </script>
</body>
</html>


